# SQLite Databases
data/bot.db
data/*.db

# Sensitive local configurations
.env

# Virtual environments
.venv/
venv/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
